table#controls
  tbody
    tr
      td
        label(for='language-picker') Language
      td
        select.language-picker(size='1')
    tr
      td
        label(for='theme-picker') Theme
      td
        select.theme-picker
          option Visual Studio
          option Visual Studio Dark
          option High Contrast Dark
    tr
      td
        label(for='fontsize') Font Size
      td
        select#fontsize(size='1')
          option(value='10px') 10px
          option(value='11px') 11px
          option(value='12px', selected='selected') 12px
          option(value='13px') 13px
          option(value='14px') 14px
          option(value='16px') 16px
          option(value='18px') 18px
          option(value='20px') 20px
          option(value='24px') 24px
    tr
      td
        label(for='folding') Code Folding
      td
        select#folding(size='1')
          option(value='manual') manual
          option(value='markbegin', selected='selected') mark begin
          option(value='markbeginend') mark begin and end
    tr
      td
        label(for='keybinding') Key Binding
      td
        select#keybinding(size='1')
          option(value='ace') Ace
          option(value='vim') Vim
          option(value='emacs') Emacs
          option(value='custom') Custom
    tr
      td
        label(for='soft_wrap') Soft Wrap
      td
        select#soft_wrap(size='1')
          option(value='off') Off
          option(value='40') 40 Chars
          option(value='80') 80 Chars
          option(value='free') Free
    tr
      td(colspan='2')
        table#more-controls
          tbody
            tr
              td
                label(for='select_style') Full Line Selection
              td
                input#select_style(type='checkbox', name='select_style', checked='')
            tr
              td
                label(for='highlight_active') Highlight Active Line
              td
                input#highlight_active(type='checkbox', name='highlight_active', checked='')
            tr
              td
                label(for='show_hidden') Show Invisibles
              td
                input#show_hidden(type='checkbox', name='show_hidden', checked='')
            tr
              td
                label(for='display_indent_guides') Show Indent Guides
              td
                input#display_indent_guides(type='checkbox', name='display_indent_guides', checked='')
            tr
              td
                label(for='show_hscroll') Persistent HScroll
              td
                input#show_hscroll(type='checkbox', name='show_hscroll')
                label(for='show_hscroll') VScroll
                input#show_vscroll(type='checkbox', name='show_vscroll')
            tr
              td
                label(for='animate_scroll') Animate scrolling
              td
                input#animate_scroll(type='checkbox', name='animate_scroll')
            tr
              td
                label(for='show_gutter') Show Gutter
              td
                input#show_gutter(type='checkbox', checked='')
            tr
              td
                label(for='show_print_margin') Show Print Margin
              td
                input#show_print_margin(type='checkbox', checked='')
            tr
              td
                label(for='soft_tab') Use Soft Tab
              td
                input#soft_tab(type='checkbox', checked='')
            tr
              td
                label(for='highlight_selected_word') Highlight selected word
              td
                input#highlight_selected_word(type='checkbox', checked='')
            tr
              td
                label(for='enable_behaviours') Enable Behaviours
              td
                input#enable_behaviours(type='checkbox')
            tr
              td
                label(for='fade_fold_widgets') Fade Fold Widgets
              td
                input#fade_fold_widgets(type='checkbox')
            tr
              td
                label(for='elastic_tabstops') Enable Elastic Tabstops
              td
                input#elastic_tabstops(type='checkbox')
            tr
              td
                label(for='isearch') Incremental Search
              td
                input#isearch(type='checkbox')
            tr
              td
                label(for='highlight_token') Show token info
              td
                input#highlight_token(type='checkbox')
            tr
              td
                label(for='read_only') Read-only
              td
                input#read_only(type='checkbox')
            tr
              td
                label(for='scrollPastEnd') Scroll Past End
              td
                input#scrollPastEnd(type='checkbox', checked='')
            tr
              td(colspan='2')
                input(type='button', value='Edit Snippets', onclick='env.editSnippets()')
