table#controls
  tbody
    tr
      td
        label(for='doc') Document
      td
        select#doc(size='1')
          optgroup(label='Mode Examples')
            option(value='JavaScript') JavaScript
            option(value='ABAP') ABAP
            option(value='ABC') ABC
            option(value='ADA') ADA
            option(value='ActionScript') ActionScript
            option(value='Apache Conf') Apache Conf
            option(value='AsciiDoc') AsciiDoc
            option(value='Assembly x86') Assembly x86
            option(value='AutoHotKey') AutoHotKey
            option(value='BatchFile') BatchFile
            option(value='Bro') Bro
            option(value='C and C++') C and C++
            option(value='C#') C#
            option(value='C9 Search Results') C9 Search Results
            option(value='CSS') CSS
            option(value='Cirru') Cirru
            option(value='Clojure') Clojure
            option(value='Cobol') Cobol
            option(value='CoffeeScript') CoffeeScript
            option(value='ColdFusion') ColdFusion
            option(value='Curly') Curly
            option(value='D') D
            option(value='Dart') Dart
            option(value='Diff') Diff
            option(value='Django') Django
            option(value='Dockerfile') Dockerfile
            option(value='Dot') Dot
            option(value='Drools') Drools
            option(value='Dummy') Dummy
            option(value='DummySyntax') DummySyntax
            option(value='EJS') EJS
            option(value='Eiffel') Eiffel
            option(value='Elixir') Elixir
            option(value='Elm') Elm
            option(value='Erlang') Erlang
            option(value='Forth') Forth
            option(value='Fortran') Fortran
            option(value='FreeMarker') FreeMarker
            option(value='Gcode') Gcode
            option(value='Gherkin') Gherkin
            option(value='Gitignore') Gitignore
            option(value='Glsl') Glsl
            option(value='Go') Go
            option(value='Gobstones') Gobstones
            option(value='Groovy') Groovy
            option(value='HAML') HAML
            option(value='HTML') HTML
            option(value='HTML (Elixir)') HTML (Elixir)
            option(value='HTML (Ruby)') HTML (Ruby)
            option(value='Handlebars') Handlebars
            option(value='Haskell') Haskell
            option(value='Haskell Cabal') Haskell Cabal
            option(value='Hjson') Hjson
            option(value='INI') INI
            option(value='Io') Io
            option(value='JSON') JSON
            option(value='JSONiq') JSONiq
            option(value='JSP') JSP
            option(value='JSX') JSX
            option(value='Jack') Jack
            option(value='Jade') Jade
            option(value='Java') Java
            option(value='Julia') Julia
            option(value='Kotlin') Kotlin
            option(value='LESS') LESS
            option(value='LSL') LSL
            option(value='LaTeX') LaTeX
            option(value='Liquid') Liquid
            option(value='Lisp') Lisp
            option(value='LiveScript') LiveScript
            option(value='LogiQL') LogiQL
            option(value='Lua') Lua
            option(value='LuaPage') LuaPage
            option(value='Lucene') Lucene
            option(value='MATLAB') MATLAB
            option(value='MEL') MEL
            option(value='MUSHCode') MUSHCode
            option(value='Makefile') Makefile
            option(value='Markdown') Markdown
            option(value='Mask') Mask
            option(value='Maze') Maze
            option(value='MySQL') MySQL
            option(value='NSIS') NSIS
            option(value='Nix') Nix
            option(value='Nix') Nix
            option(value='OCaml') OCaml
            option(value='Objective-C') Objective-C
            option(value='PHP') PHP
            option(value='Pascal') Pascal
            option(value='Perl') Perl
            option(value='Plain Text') Plain Text
            option(value='Powershell') Powershell
            option(value='Praat') Praat
            option(value='Prolog') Prolog
            option(value='Properties') Properties
            option(value='Protobuf') Protobuf
            option(value='Python') Python
            option(value='R') R
            option(value='RDoc') RDoc
            option(value='RHTML') RHTML
            option(value='RST') RST
            option(value='Razor') Razor
            option(value='Ruby') Ruby
            option(value='Rust') Rust
            option(value='SASS') SASS
            option(value='SCAD') SCAD
            option(value='SCSS') SCSS
            option(value='SH') SH
            option(value='SJS') SJS
            option(value='SQL') SQL
            option(value='SQLServer') SQLServer
            option(value='SVG') SVG
            option(value='Scala') Scala
            option(value='Scheme') Scheme
            option(value='Smarty') Smarty
            option(value='Soy Template') Soy Template
            option(value='Space') Space
            option(value='Stylus') Stylus
            option(value='Swift') Swift
            option(value='TSX') TSX
            option(value='Tcl') Tcl
            option(value='Tex') Tex
            option(value='Text') Text
            option(value='Textile') Textile
            option(value='Toml') Toml
            option(value='Twig') Twig
            option(value='Typescript') Typescript
            option(value='VBScript') VBScript
            option(value='VHDL') VHDL
            option(value='Vala') Vala
            option(value='Velocity') Velocity
            option(value='Verilog') Verilog
            option(value='Wollok') Wollok
            option(value='XML') XML
            option(value='XQuery') XQuery
            option(value='YAML') YAML
            option(value='haXe') haXe
            option(value='pgSQL') pgSQL
            option(value='snippets') snippets
          optgroup(label='Huge documents')
            option(value='src/ace.js') src/ace.js
            option(value='src-min/ace.js') src-min/ace.js
          optgroup(label='own source')
    tr
      td
        label(for='mode') Mode
      td
        select#mode(size='1')
          option(value='abap') ABAP
          option(value='abc') ABC
          option(value='actionscript') ActionScript
          option(value='ada') ADA
          option(value='apache_conf') Apache Conf
          option(value='asciidoc') AsciiDoc
          option(value='assembly_x86') Assembly x86
          option(value='autohotkey') AutoHotKey
          option(value='batchfile') BatchFile
          option(value='bro') Bro
          option(value='c_cpp') C and C++
          option(value='c9search') C9Search
          option(value='cirru') Cirru
          option(value='clojure') Clojure
          option(value='cobol') Cobol
          option(value='coffee') CoffeeScript
          option(value='coldfusion') ColdFusion
          option(value='csharp') C#
          option(value='css') CSS
          option(value='curly') Curly
          option(value='d') D
          option(value='dart') Dart
          option(value='diff') Diff
          option(value='dockerfile') Dockerfile
          option(value='dot') Dot
          option(value='drools') Drools
          option(value='dummy') Dummy
          option(value='dummysyntax') DummySyntax
          option(value='eiffel') Eiffel
          option(value='ejs') EJS
          option(value='elixir') Elixir
          option(value='elm') Elm
          option(value='erlang') Erlang
          option(value='forth') Forth
          option(value='fortran') Fortran
          option(value='ftl') FreeMarker
          option(value='gcode') Gcode
          option(value='gherkin') Gherkin
          option(value='gitignore') Gitignore
          option(value='glsl') Glsl
          option(value='gobstones') Gobstones
          option(value='golang') Go
          option(value='groovy') Groovy
          option(value='haml') HAML
          option(value='handlebars') Handlebars
          option(value='haskell') Haskell
          option(value='haskell_cabal') Haskell Cabal
          option(value='haxe') haXe
          option(value='hjson') Hjson
          option(value='html') HTML
          option(value='html_elixir') HTML (Elixir)
          option(value='html_ruby') HTML (Ruby)
          option(value='ini') INI
          option(value='io') Io
          option(value='jack') Jack
          option(value='jade') Jade
          option(value='java') Java
          option(value='javascript') JavaScript
          option(value='json') JSON
          option(value='jsoniq') JSONiq
          option(value='jsp') JSP
          option(value='jsx') JSX
          option(value='julia') Julia
          option(value='kotlin') Kotlin
          option(value='latex') LaTeX
          option(value='less') LESS
          option(value='liquid') Liquid
          option(value='lisp') Lisp
          option(value='livescript') LiveScript
          option(value='logiql') LogiQL
          option(value='lsl') LSL
          option(value='lua') Lua
          option(value='luapage') LuaPage
          option(value='lucene') Lucene
          option(value='makefile') Makefile
          option(value='markdown') Markdown
          option(value='mask') Mask
          option(value='matlab') MATLAB
          option(value='maze') Maze
          option(value='mel') MEL
          option(value='mushcode') MUSHCode
          option(value='mysql') MySQL
          option(value='nix') Nix
          option(value='nsis') NSIS
          option(value='objectivec') Objective-C
          option(value='ocaml') OCaml
          option(value='pascal') Pascal
          option(value='perl') Perl
          option(value='pgsql') pgSQL
          option(value='php') PHP
          option(value='powershell') Powershell
          option(value='praat') Praat
          option(value='prolog') Prolog
          option(value='properties') Properties
          option(value='protobuf') Protobuf
          option(value='python') Python
          option(value='r') R
          option(value='razor') Razor
          option(value='rdoc') RDoc
          option(value='rhtml') RHTML
          option(value='rst') RST
          option(value='ruby') Ruby
          option(value='rust') Rust
          option(value='sass') SASS
          option(value='scad') SCAD
          option(value='scala') Scala
          option(value='scheme') Scheme
          option(value='scss') SCSS
          option(value='sh') SH
          option(value='sjs') SJS
          option(value='smarty') Smarty
          option(value='snippets') snippets
          option(value='soy_template') Soy Template
          option(value='space') Space
          option(value='sql') SQL
          option(value='sqlserver') SQLServer
          option(value='stylus') Stylus
          option(value='svg') SVG
          option(value='swift') Swift
          option(value='tcl') Tcl
          option(value='tex') Tex
          option(value='text') Text
          option(value='textile') Textile
          option(value='toml') Toml
          option(value='tsx') TSX
          option(value='twig') Twig
          option(value='typescript') Typescript
          option(value='vala') Vala
          option(value='vbscript') VBScript
          option(value='velocity') Velocity
          option(value='verilog') Verilog
          option(value='vhdl') VHDL
          option(value='wollok') Wollok
          option(value='xml') XML
          option(value='xquery') XQuery
          option(value='yaml') YAML
          option(value='django') Django
    tr
      td
        label(for='split') Split
      td
        select#split(size='1')
          option(value='none') None
          option(value='below') Below
          option(value='beside') Beside
    tr
      td
        label(for='theme') Theme
      td
        select#theme(size='1')
          optgroup(label='Bright')
            option(value='ace/theme/chrome') Chrome
            option(value='ace/theme/clouds') Clouds
            option(value='ace/theme/crimson_editor') Crimson Editor
            option(value='ace/theme/dawn') Dawn
            option(value='ace/theme/dreamweaver') Dreamweaver
            option(value='ace/theme/eclipse') Eclipse
            option(value='ace/theme/github') GitHub
            option(value='ace/theme/iplastic') IPlastic
            option(value='ace/theme/solarized_light') Solarized Light
            option(value='ace/theme/textmate') TextMate
            option(value='ace/theme/tomorrow') Tomorrow
            option(value='ace/theme/xcode') XCode
            option(value='ace/theme/kuroir') Kuroir
            option(value='ace/theme/katzenmilch') KatzenMilch
            option(value='ace/theme/sqlserver') SQL Server
          optgroup(label='Dark')
            option(value='ace/theme/ambiance') Ambiance
            option(value='ace/theme/chaos') Chaos
            option(value='ace/theme/clouds_midnight') Clouds Midnight
            option(value='ace/theme/cobalt') Cobalt
            option(value='ace/theme/gruvbox') Gruvbox
            option(value='ace/theme/idle_fingers') idle Fingers
            option(value='ace/theme/kr_theme') krTheme
            option(value='ace/theme/merbivore') Merbivore
            option(value='ace/theme/merbivore_soft') Merbivore Soft
            option(value='ace/theme/mono_industrial') Mono Industrial
            option(value='ace/theme/monokai') Monokai
            option(value='ace/theme/pastel_on_dark') Pastel on dark
            option(value='ace/theme/solarized_dark') Solarized Dark
            option(value='ace/theme/terminal') Terminal
            option(value='ace/theme/tomorrow_night') Tomorrow Night
            option(value='ace/theme/tomorrow_night_blue') Tomorrow Night Blue
            option(value='ace/theme/tomorrow_night_bright') Tomorrow Night Bright
            option(value='ace/theme/tomorrow_night_eighties') Tomorrow Night 80s
            option(value='ace/theme/twilight') Twilight
            option(value='ace/theme/vibrant_ink') Vibrant Ink
    tr
      td
        label(for='fontsize') Font Size
      td
        select#fontsize(size='1')
          option(value='10px') 10px
          option(value='11px') 11px
          option(value='12px', selected='selected') 12px
          option(value='13px') 13px
          option(value='14px') 14px
          option(value='16px') 16px
          option(value='18px') 18px
          option(value='20px') 20px
          option(value='24px') 24px
    tr
      td
        label(for='folding') Code Folding
      td
        select#folding(size='1')
          option(value='manual') manual
          option(value='markbegin', selected='selected') mark begin
          option(value='markbeginend') mark begin and end
    tr
      td
        label(for='keybinding') Key Binding
      td
        select#keybinding(size='1')
          option(value='ace') Ace
          option(value='vim') Vim
          option(value='emacs') Emacs
          option(value='custom') Custom
    tr
      td
        label(for='soft_wrap') Soft Wrap
      td
        select#soft_wrap(size='1')
          option(value='off') Off
          option(value='40') 40 Chars
          option(value='80') 80 Chars
          option(value='free') Free
    tr
      td(colspan='2')
        table#more-controls
          tbody
            tr
              td
                label(for='select_style') Full Line Selection
              td
                input#select_style(type='checkbox', name='select_style', checked='')
            tr
              td
                label(for='highlight_active') Highlight Active Line
              td
                input#highlight_active(type='checkbox', name='highlight_active', checked='')
            tr
              td
                label(for='show_hidden') Show Invisibles
              td
                input#show_hidden(type='checkbox', name='show_hidden', checked='')
            tr
              td
                label(for='display_indent_guides') Show Indent Guides
              td
                input#display_indent_guides(type='checkbox', name='display_indent_guides', checked='')
            tr
              td
                label(for='show_hscroll') Persistent HScroll
              td
                input#show_hscroll(type='checkbox', name='show_hscroll')
                label(for='show_hscroll') VScroll
                input#show_vscroll(type='checkbox', name='show_vscroll')
            tr
              td
                label(for='animate_scroll') Animate scrolling
              td
                input#animate_scroll(type='checkbox', name='animate_scroll')
            tr
              td
                label(for='show_gutter') Show Gutter
              td
                input#show_gutter(type='checkbox', checked='')
            tr
              td
                label(for='show_print_margin') Show Print Margin
              td
                input#show_print_margin(type='checkbox', checked='')
            tr
              td
                label(for='soft_tab') Use Soft Tab
              td
                input#soft_tab(type='checkbox', checked='')
            tr
              td
                label(for='highlight_selected_word') Highlight selected word
              td
                input#highlight_selected_word(type='checkbox', checked='')
            tr
              td
                label(for='enable_behaviours') Enable Behaviours
              td
                input#enable_behaviours(type='checkbox')
            tr
              td
                label(for='fade_fold_widgets') Fade Fold Widgets
              td
                input#fade_fold_widgets(type='checkbox')
            tr
              td
                label(for='elastic_tabstops') Enable Elastic Tabstops
              td
                input#elastic_tabstops(type='checkbox')
            tr
              td
                label(for='isearch') Incremental Search
              td
                input#isearch(type='checkbox')
            tr
              td
                label(for='highlight_token') Show token info
              td
                input#highlight_token(type='checkbox')
            tr
              td
                label(for='read_only') Read-only
              td
                input#read_only(type='checkbox')
            tr
              td
                label(for='scrollPastEnd') Scroll Past End
              td
                input#scrollPastEnd(type='checkbox', checked='')
            tr
              td(colspan='2')
                input(type='button', value='Edit Snippets', onclick='env.editSnippets()')
